[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Techniques for resolving common grammar conflicts in parsers. | Efstathios Chatzikyriakidis
Type=Link
URL=https://efxa.org/2014/05/17/techniques-for-resolving-common-grammar-conflicts-in-parsers/
Icon=text-html
Name[es_AR]=Techniques for resolving common grammar conflicts in parsers
